<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css">

</head>
<body>
    <div class="container">
        <h1>user manager</h1>
        <button class="btn btn-danger log-out">Logout</button>
        <hr />
        <div class="page"></div>
    </div>

    <script type="text/template" id="user-login-template">
        <form class="form user-login-form" role="form">
            <div class="form-group">
                <label for="">username</label>
                <input type="text" name="username" class="form-control">
                <label for="">password</label>
                <input type="password" name="password" class="form-control">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Submit</button>
            </div>
        </form>
    </script>

    <script type="text/template" id="user-list-template">
        <a href="#/new" class="btn btn-primary"> new user</a>
        <table class="table striped">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                    <th></th>
                </tr>
            </thead> 
            <tbody>
                <% _.each(users, function(user) { %>
                    <tr>
                        <td><%= user.get('firstname') %></td>
                        <td><%= user.get('lastname') %></td>
                        <td><%= user.get('age') %></td>
                        <td><a href="#/edit/<%= user.id %>" class="btn btn-primary">Edit</a></td>
                    </tr>
                <% });%>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="edit-user-template">
        <form class="form edit-user-form" role="form">
            <legend><%= user ? 'Update' : 'Create' %> User</legend>
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" name="firstname" value="<%= user? user.get('firstname'): '' %>" class="form-control">
            </div>        
            <div class="form-group">
                <label for="">Last Name</label>
                <input type="text" name="lastname" value="<%= user? user.get('lastname'): '' %>"class="form-control">
            </div>
            <div class="form-group">
                <label for="">Age</label>
                <input type="text" name="age" value="<%= user? user.get('age'): '' %>" class="form-control">
            </div>
            <hr />
            <button type="submit" class="btn"><%= user? 'Update' :'Create' %></button>
            <% if(user) { %>
                <input type="hidden" value="<%=  user.id%>" name="id">
                <button class="btn btn-danger delete" type="button">Delete</button>
            <% }; %>
        </form>
    </script>

    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/underscore/underscore.js"></script>
    <script src="./bower_components/backbone/backbone.js"></script>
    <script src="https://leancloud.cn/scripts/lib/av-0.4.5.min.js"></script>

    <script>
        AV.initialize("vn760xm7035c9brt6dph1uz2z8xogbksaj3krb9u1xrnqdq9", "tfqrofvci4tp5bkgov95w3656beh9r3fs03adhnyt33dv00p");

        $(function () {
            $('.log-out').click(function () {
                AV.User.logOut(); 
                console.log('logout');
                router.navigate('', {trigger: true});
            })
        })

        $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] !== undefined) {
                  if (!o[this.name].push) {
                      o[this.name] = [o[this.name]];
                  }
                  o[this.name].push(this.value || '');
              } else {
                  o[this.name] = this.value || '';
              }
          });
          return o;
        };


        var UserList = AV.Object.extend("UserList");

        var Users = AV.Collection.extend({
          model: UserList
        });;


        // ------------------------------------------------------------------------------------------
        // VIEW
        var UserLogin = Backbone.View.extend({
            el: '.page',
            render: function() {
                var template = _.template($('#user-login-template').html())();
                this.$el.html(template);
            },
            events: {
                'submit .user-login-form': 'doLogin'
            },
            doLogin: function (ev) {
                var userInfo = $(ev.currentTarget).serializeObject();
                console.log(userInfo);
                AV.User.logIn(userInfo.username, userInfo.password, {
                    success: function() {
                        console.log('login success');
                        router.navigate('list', {trigger: true})
                    },
                    error: function () {
                        console.log('failed');
                    }
                })
                return false;
            }
        });

        var UserList = Backbone.View.extend({
            el: '.page',
            render: function () {
                var users = new Users();
                var that = this;
                users.fetch({
                    success: function (users) {
                        var template = _.template($('#user-list-template').html())({users: users.models});
                        that.$el.html(template);
                    }
                })
            }
        });

        var EditUser = Backbone.View.extend({
            el: '.page',
            render: function (options) {
                var that = this;
                if(options.id) {
                    var UserList = AV.Object.extend("UserList");
                    var query = new AV.Query(UserList);
                    query.get(options.id , {
                        success: function (user) {
                            that.user = user;
                            var template = _.template($('#edit-user-template').html())({user: user})
                            that.$el.html(template);
                        }
                    })

                } else {
                    var template = _.template($('#edit-user-template').html())({user: null})
                    this.$el.html(template);
                }
            },
            
            events: {
                'submit .edit-user-form' : 'saveUser',
                'click .delete': 'deleteUser'
            },

            saveUser: function(ev){
                var userDetails = $(ev.currentTarget).serializeObject();
                var UserList = AV.Object.extend("UserList");
                userDetails.age = +userDetails.age;

                var UserList = AV.Object.extend('UserList');
                var userlist = new UserList();
                userlist.save(userDetails, {
                    success: function (user) {
                        console.log(user);
                        router.navigate('', {trigger: true});
                    },
                    error: function (err) {
                        console.log('err', err)
                    }

                })
                return false;
            },

            deleteUser: function (ev) {
                // when render template, this owns the user attribute
                this.user.destroy({
                    success: function () {
                        router.navigate('', {trigger: true}) 
                    }
                })
                return false;
            }
        })

        var Router = Backbone.Router.extend({
            routes: {
                '': 'login',
                'list': 'home',
                'new': 'editUser',
                'edit/:id': 'editUser'
            }
        });

        // ------------------------------------------------------------------------------------------

        // INSTANCE
        var userLogin = new UserLogin();
        var userList = new UserList();
        var editUser = new EditUser();
        var router = new Router();

        router.on('route:login', function () {
            if (AV.User.current()) {
                router.navigate('list', {trigger: true});
            } else {
                userLogin.render();
            }
        })
        router.on('route:home', function () {
            userList.render();
        })
        router.on('route:editUser', function (id) {
            editUser.render({id: id});
        })

        Backbone.history.start();
    </script>
</body>
</html>